#include <windows.h>

// Manifest for visual styles & compatibility
1 24 "src/app.manifest"

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Toko Fotokopi 208"
            VALUE "FileDescription",  "208 Software Center - Pas Foto Utility"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "208softwarecenter"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Toko 208"
            VALUE "OriginalFilename", "208softwarecenter.exe"
            VALUE "ProductName",      "208 Software Center"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
